* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.reset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
  background-color: #fff;
}

.reset-form {
  border: 1px solid #dbdbdb;
  border-radius: 3px 3px 0 0;
  padding: 45px;
  width: 388px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  background-color: #fff;
}

.reset-lock-icon {
  width: 96px;
  height: 96px;
  margin: 0 auto 8px;
}

.reset-title {
  font-weight: 600;
}

.reset-description {
  font-size: 14px;
  color: rgba(115, 115, 115, 1);
  margin-bottom: 13px;
}

.reset-input {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  height: 40px;
  margin-bottom: 16px;
}

.reset-button {
  background-color: #0095f6;
  color: white;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 65px;
}

.reset-divider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0;
  color: #737373;
  margin-bottom: 15px;
}

.reset-divider hr {
  flex-grow: 1;
  height: 1px;
  border: none;
  background-color: rgba(219, 219, 219, 1);
}

.reset-divider span {
  font-size: 13px;
  font-weight: 600;
}

.reset-create-link {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 84px;
}

.reset-create-link:hover{
  color: #0095f6;
}

.reset-bottom-bar {
  width: 388px;
  height: 44px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-top: none; /* ключевой момент */
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-bottom-bar a {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
}

.reset-bottom-bar a:hover {
  color: #0095f6;
  transition: 0.2s ease;
}