.resetWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.resetForm {
  border: 1px solid #dbdbdb;
  border-radius: 3px 3px 0 0;
  padding: 45px;
  width: 388px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.resetLockIcon {
  width: 96px;
  height: 96px;
  margin: 0 auto 8px;
  margin-bottom: 14px;
}

.resetTitle {
  font-weight: 600;
  margin-bottom: 14px;
}

.resetDescription {
  font-size: 14px;
  color: rgba(115, 115, 115, 1);
  margin-bottom: 13px;
}

.resetInput {
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  height: 40px;
  margin-bottom: 17px;
}

.resetButton {
  background-color: #0095f6;
  color: white;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin-bottom: 67px;
}

.resetDivider {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0;
  color: #737373;
  margin-bottom: 16px;
}

.resetDivider hr {
  flex-grow: 1;
  height: 1px;
  border: none;
  background-color: rgba(219, 219, 219, 1);
}

.resetDivider span {
  font-size: 13px;
  font-weight: 600;
}

.resetCreateLink {
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 85px;
}

.resetCreateLink:hover {
  color: #0095f6;
}

.resetBottomBar {
  width: 388px;
  height: 44px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-top: none;
  border-radius: 0 0 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 219px;
}

.resetBottomBar a {
  font-size: 14px;
  font-weight: 600;
  color: #262626;
  text-decoration: none;
}

.resetBottomBar a:hover {
  color: #0095f6;
  transition: 0.2s ease;
}