.registerWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
}

.registerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

.registerForm {
  width: 100%;
  border: 1px solid #dbdbdb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: white;
  border-radius: 1px;
}

.registerLogo {
  height: 51px;
  margin: 0 auto 12px;
}

.registerSubtitle {
  color: #737373;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 26px;
}

.registerForm input {
  height: 36px;
  padding: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-size: 12px;
  background: #fafafa;
}

.registerBtn {
  background-color: #0095f6;
  color: white;
  font-weight: 600;
  border: none;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 26px;
  margin-bottom: 25px;
}

.registerBtn:disabled {
  opacity: 0.6;
  cursor: default;
}

.registerError {
  color: #ed4956;
  font-size: 14px;
  background-color: #ffeaea;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0;
  text-align: center;
}

.registerInfo {
  font-size: 12px;
  color: #737373;
  margin-top: 18px;
}

.registerInfo span {
  color: #00376b;
  cursor: pointer;
}

.registerFooter {
  border: 1px solid #dbdbdb;
  background-color: white;
  width: 100%;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 1px;
}

.registerFooter a {
  color: #0095f6;
  text-decoration: none;
  font-weight: 500;
}

@media (min-width: 1440px) {
  .registerWrapper {
    padding: 40px;
  }
  
  .registerBox {
    max-width: 400px;
  }
  
  .registerForm {
    padding: 50px;
  }
  
  .registerLogo {
    height: 60px;
    margin-bottom: 20px;
  }
}